.DetallesPoke__Container header{
color:white;
padding: 10px;
}
.DetallesPoke__Container header section{
display: flex;
justify-content: space-between;
margin: 10px;
}
.DetallesPoke__Container header section p{
position: absolute;
top: 100px;
right: 20px;
}
.DetallesPoke__Container header div{
display: flex;
justify-content: flex-start;
height: 30px;
margin-left: 5px;
}
.DetallesPoke__Container--TypesData{
border: 1px solid;
border-radius: 30%;
align-items: center;
margin-right: 10px;
}
.DetallesPoke__Container header div p{
margin: 10px;

}

.DetallesPoke__Container--Container_PhotoPoke{
display: flex;
justify-content: center;
}

.DetallesPoke__Container--PhotoPoke{
max-width: 200px;
position: relative;
top: 30px;
}

.DetallesPoke__Container--DataEstadistic{
background-color: white;
padding: 40px 5px 0px 5px;
border-radius: 5%;
}

.DetallesPoke__Container--DataEstadistic header{
display: flex;
justify-content: space-between;
margin: 0px 10px 0px 10px;
color: black;
}

.NavDetallesPoke__Container--Menu{
    display: flex;
    justify-content: space-between;
}
.NavDetallesPoke__Container--SegmentDetails{
    overflow: auto;
    height: 93vh;
    overflow-y: scroll;
}
